body {
  margin: 0;
  font-family: monospace;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
  background-image: url(bg.png);
  background-repeat: repeat;
  background-size: 480px 800px;
  padding: 10px;
}

#root{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

select, option, input, button {
  font-family: monospace;
  color: black;
  background-color: mediumaquamarine;
  border: none;
  padding: 2px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

button {
  margin-right: 4px;
  width: 96px;
}

h1, h2 {
  color: MediumAquaMarine;
  margin: 0;
}

#account{
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#account select {
  width: 100%;
}

#account span {
  margin-top: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.users{
  text-align: left;
}

.users span{
  display: inline-block;
  width: 140px;
  box-sizing: border-box;
  color: gray;
  padding-top: 3px;
}

.users span.right{
  width: auto;
  padding-left: 7px;
  color: white;
}

#status{
  padding: 2px;
  opacity: 0.5;
  position: sticky;
  bottom: 5px;
  background-color: red;
}