body {
  margin: 0;
  font-family: monospace;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
  padding: 10px;
}

#root{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#navigation{
    padding: 4px;
}

select, option, input, button {
  font-family: monospace;
  color: black;
  background-color: #5d948f;
  border: none;
  padding: 4px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

button {
  margin-right: 4px;
  width: 96px;
  color: white;
}

h1, h2 {
  color: #80cbc4;
  margin: 0;
  text-align: center;
  background-color: #121212;
  position: sticky;
}

h2 {
  padding-top: 3px;
  top: 0px;
}

h1 {
  padding-bottom: 3px;
  margin-bottom: 7px;
  top: 20px;
}

#account{
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#account select {
  width: 100%;
}

#account span {
  margin-top: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

#columns{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.users{
  text-align: left;
  padding: 10px;
}

.users span{
  display: inline-block;
  width: 155px;
  vertical-align: middle;
  box-sizing: border-box;
  color: gray;
  padding-top: 3px;
}

.users span.right{
  width: auto;
  padding-left: 7px;
  color: white;
}

#status{
  padding: 2px;
  position: sticky;
  bottom: 5px;
  background-color: #900000;
  color: gray;
}